.card {
    display: flex;
    flex-flow: column nowrap;
}

.card__img {
    width: 100%;
    height: 65vh;
    margin-bottom: 1.5rem;
    object-fit: cover;
}

.card__img__url01 {
    background-image: url("../img/webudvikler_1_detalje.jpg");
}

.card__img__url02 {
    background-image: url("../img/webudvikler_2.jpg");
}

.card__img__url03 {
    background-image: url("../img/students01.jpg");
}

.card__article {
    padding: 0 2rem;
}

.card__article h1 {
    color: black;
    font-size: 1.7rem;
    padding: 0 0.5rem 1rem 0;
    font-family: Georgia, serif;
    line-height: 1.4;
}

.card__article p {
    color: black;
    font-size: 1rem;
    line-height: 1.8;
    font-weight: lighter;
}

.card__footer {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}


/* card in portrait page */

.portrait-cards-wrapper {
    padding: 0 2em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.portrait-button {
    display: none;
}

.cards-wrapper {
    padding: 0 1.3rem;
}

.portrait-card__article {
    overflow-y: auto;
    display: flex;
    flex-flow: column nowrap;
}

.portrait-card__article h1 {
    font-family: Georgia, serif;
    font-size: 1.5rem;
    padding: 1rem 0;
    align-self: flex-start;
}

.portrait-card__article p {
    font-size: 1.1rem;
    line-height: 1.6;
    align-self: flex-end;
    font-family: Arial, sans-serif;
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    .card {
        margin-bottom: 1em;
        flex: 1;
    }
    .card__article {
        width: 100%;
    }
    .card__article h1 {
        font-size: 3.4rem;
        padding-bottom: 2.3rem;
        font-family: Georgia, serif;
        font-weight: normal;
    }
    .card__article p {
        font-size: 1.5rem;
    }
    .card__img {
        width: 50%;
        height: auto;
        margin-bottom: 0;
    }
    .flex-flow-card--column {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
    }
    body>main>div>div:nth-child(3)>div>div.flex-flow-card--column>footer>button {
        align-self: flex-end;
    }
    /* for portrait page */
    .cards-wrapper {
        display: flex;
        flex-wrap: nowrap;
        gap: 2rem;
        padding: 2rem;
    }
    .portrait-card__img {
        width: 100%;
        height: auto;
        margin-bottom: 1.5rem;
    }
    .portrait-card__article {
        display: flex;
        flex-flow: column nowrap;
        height: 40vh;
        overflow-y: scroll;
    }
    .portrait-card__article h1 {
        font-family: Georgia, serif;
        font-size: 2.5rem;
        padding: 1.5rem 0;
        align-self: flex-start;
    }
    .portrait-card__article p {
        font-size: 1.5rem;
        padding: 1.5rem 0;
        align-self: flex-end;
    }
    .portrait-button {
        display: block;
    }
    /* scrollbar styles */
     ::-webkit-scrollbar {
        width: 13px;
    }
     ::-webkit-scrollbar-track {
        background: #ffffff;
        border-radius: 10px;
        border: 1px solid #aeaeb5
    }
     ::-webkit-scrollbar-thumb {
        background: #5D4646;
        border-radius: 10px;
        border: 1px solid #cbcfb1
    }
     ::-webkit-scrollbar-thumb:hover {
        background: #fcfaee
    }
     ::-webkit-scrollbar-thumb:active {
        background: #dad9c3
    }
}