@media screen and (min-device-width: 300px) and (max-device-width: 1023px) {
    .header__nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        display: none;
        width: 100%;
    }
    body>header>label>p {
        text-transform: uppercase;
        padding-right: 1rem;
        font-size: 1rem;
        text-align: right;
    }
    .fa-ellipsis-v {
        padding-left: 1rem;
    }
    .fa-ellipsis-v:hover {
        padding-left: 1rem;
        color: rgb(188, 248, 196);
    }
    label {
        cursor: pointer;
    }
    #kebab-menu-box {
        display: none;
    }
    #kebab-menu-box:checked~nav {
        display: block;
        position: absolute;
        top: 4rem;
        z-index: 100;
    }
    #kebab-menu-box:disabled {
        display: none;
    }
    .header__nav>ul {
        list-style: none;
        gap: 2rem;
    }
    .header__nav__links {
        font-family: Arial, sans-serif;
        text-decoration: none;
        color: white;
        line-height: 5rem;
        text-transform: uppercase;
        background-color: #C40000;
        border-radius: 15px;
        padding: 1.5rem 1rem;
        box-shadow: 0.3em 0em 0.9em #800303cc;
    }
    /* pseudo selectors */
    a:hover {
        color: rgb(188, 248, 196);
        font-size: 110%;
    }
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    .header__nav>ul {
        list-style: none;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        gap: 2rem;
    }
    .header__nav__links {
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        font-size: 2rem;
        letter-spacing: -0.07em;
        font-family: Arial, sans-serif;
    }
    #kebab-menu-box {
        display: none;
    }
    .header__nav--phone>ul {
        list-style: none;
    }
    .header>label {
        display: none;
    }
}